[
    "flour",
    "water",
    "salt",
    "yeast",
    "gochugaru",
    "tomato/puree",
    "coconut milk",
    "salt",
    "turmeric/powder",
    "cumin",
    "onion",
    "pepper",
    "rice",
    "msg",
    "tortilla",
    "hasbrown/patty",
    "bread",
    "avocado",
]
