{
    "lean-bread": [
        "flour",
        "water",
        "salt",
        "yeast",
    ],
    "simple-curry": [
        "gochugaru",
        "tomato/puree",
        "coconut milk",
        "salt",
        "turmeric/powder",
        "cumin",
        "onion",
        "pepper",
    ],
    "fried-rice": [
        "rice",
        "egg",
        "msg",
        "onion/green",
    ],
    "egg-burrito": [
        "tortilla",
        "egg",
        "hasbrown/patty",
    ],
    "avocado-toast": [
        "bread",
        "avocado",
        "egg",
    ],
    "egg/yolk": [
        "egg",
    ],
    "egg/white": [
        "egg",
    ],
    "mayo": [
        "oil/avocado",
        "egg/yolk",
    ],
}
